    {{!-- <link rel="stylesheet" href="/css/contactanos.css"> --}}
       <link rel="stylesheet" href="/css/inicio.css">


    <p id="subtitulo">Para reservaciones o solicitar más información sobre nuestros servicios, comunícate con nostros a través de estos medios:</p>
    <div class="telefono"><img src="/img/sitio/telefono.png" alt="telefono">
    <p id="contacto">4755-2799</p></div>
    <div class="email"><img src="/img/sitio/correo.png" alt="email">
    <p id="correo">leantigua@gmail.com</p></div>

