<link rel="stylesheet" href="/css/nosotros.css">

    <h1>UN POCO ACERCA DE NOSOTROS...</h1>
    <div class ="logonosotros"><img src="/img/sitio/Logo Lea negro.png" alt="logonosotros"></div>
    <p>El restaurante Le Antigua es un dinamizador de la economía local de Santiago Atitlán. 
        Emplea a más de 8 personas y abastece su materia prima con una selección de proveedores orgánicos locales.</p>
    <h1>UBICACIÓN</h1>
    <p>03 Av. Zona 1, a la par del Banrural, Santiago Atitlán, Guatemala</p>
    <div class="imagenes">
        <img class="local" src="img/sitio/local.jpg" alt="local">

       <img class="local2" src="img/sitio/local 2.jpg" alt="local2"></div>

