    <link rel="stylesheet" href="/css/contactanos.css">
    <footer class="piepagina">
        <div class="enlaces">
            <a href="nosotros.html" class="nav-link">Nosotros</a>
            <a href="contactanos.html" class="nav-link">Contáctanos</a>
        </div>
        <div class="box">
            <h1>Síguenos y escríbenos en:</h1>
            <div class="redessociales">
                <a href="https://www.facebook.com/profile.php?id=100063476289604" target="_blank"><img src="/img/sitio/facebook.png" alt="facebook"></a>
                <a href="https://api.whatsapp.com/message/QOBWTZRW32SYA1?autoload=1&app_absent=0" target="_blank"><img src="/img/sitio/whatsapp.png" alt="whatsapp"></a>
                <img src="/img/sitio/instagram.png" alt="instagram">
            </div>
        </div>
    </footer>